# Ismael Hasan
## Assignment 2: Zip Function

**IS 362 - Dr. Charles Pak - CUNY School of Professional Studies**

## Definition and Usage
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

## Syntax
zip(iterator1, iterator2, iterator3 ...)

***Create 2 arrays of data for grocery items; fruits and prices***

In [29]:
fruits = ['apples' , 'oranges' , 'bananas' , 'pears' , 'watermelons']
prices = [0.99, 1.50, 0.49, 1.79, 6.99]

***Use zip function converts the 2 arrays of data into a list of tuples, where the 1st index of each array is matched***

In [30]:
grocery_items = zip(fruits, prices)
print(list(grocery_items))

[('apples', 0.99), ('oranges', 1.5), ('bananas', 0.49), ('pears', 1.79), ('watermelons', 6.99)]

***The DataFrame function uses the data to form a table***

In [31]:
table = pd.DataFrame(data = grocery_items, columns = [fruits, prices])
table

Empty DataFrame
Columns: [(apples, 0.99), (oranges, 1.5), (bananas, 0.49), (pears, 1.79), (watermelons, 6.99)]
Index: []